NODE_ENV="development"
PORT="3000"

#Database
DB_CONNECTION="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_PASSWORD="admin1234"
DATABASE_NAME="orderbook"
DATABASE_LOGGING="false"

#JWT
JWT_SECRET="secret"
JWT_ACCESS_TOKEN_TTL="90000"
