NODE_ENV=development
PORT=3000

# Database
DB_CONNECTION=postgres
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USER=psql_user
DATABASE_PASSWORD=psql_psswd
DATABASE_NAME=psql_database
DATABASE_LOGGING=level

# JWT
JWT_SECRET=abcd
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
